<div class="col p-3">
    <div class="row mt-4 mb-4">
        <div class="col-8">
            <h1>PLANTILLA UNIÓN DEPORTIVA PILAS 2022/2023</h1>
            <hr>
            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary">PRIMER EQUIPO</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-danger">CUERPO TÉCNICO</button>
                </div>
            </div>

            <div class="row mt-4">
                <h1 style="font-family: Roboto Condensed,sans-serif; font-size: 1.75rem; font-weight: 700;">PORTEROS</h1>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="https://sevillafc.es/sites/default/files/styles/team_190x190/public/team_players/photos/BONO_0.jpg?itok=eHj5kdXv" alt="Card image cap">
                        <div class="card-body">
                            <h2>13. BONOU</h2>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="https://sevillafc.es/sites/default/files/styles/team_190x190/public/team_players/photos/BONO_0.jpg?itok=eHj5kdXv" alt="Card image cap">
                        <div class="card-body">
                            <h2>13. BONOU</h2>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="https://sevillafc.es/sites/default/files/styles/team_190x190/public/team_players/photos/BONO_0.jpg?itok=eHj5kdXv" alt="Card image cap">
                        <div class="card-body">
                            <h2>13. BONOU</h2>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="https://sevillafc.es/sites/default/files/styles/team_190x190/public/team_players/photos/BONO_0.jpg?itok=eHj5kdXv" alt="Card image cap">
                        <div class="card-body">
                            <h2>13. BONOU</h2>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row mt-4">
                <h1 style="font-family: Roboto Condensed,sans-serif; font-size: 1.75rem; font-weight: 700;">DEFENSAS</h1>
                <div class="col-3">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="https://sevillafc.es/sites/default/files/styles/team_190x190/public/team_players/photos/BONO_0.jpg?itok=eHj5kdXv" alt="Card image cap">
                        <div class="card-body">
                            <h2>2. MONTIEL</h2>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="row">
                <h4>AGENDA</h4>
            </div>
            
            <div class="row">
                REDES SOCIALES
                <!--
                    <angular-twitter-timeline [data]="{sourceType: 'profile', url: 'UDPilas'}"[opts]="{tweetLimit: 5}"></angular-twitter-timeline>
                -->
            </div>

        </div>
    </div>
</div>