<div class="organigrama-container">
	<head>
	  <title>Organigrama de la Unión Deportiva Pilas</title>
	  <meta charset="utf-8">
	</head>
	<div style="background-color: rgb(233, 233, 233); text-align: center; margin-bottom: 35px">
		<h1 style="text-align: center;">Organigrama de la Unión Deportiva Pilas</h1>
	</div>
	<div id="interior-container" style="display: flex; flex-direction: column; align-items: center;">
	  <mat-card style="margin-bottom: 15px; width: 400px; text-align: center;">
		<h2>Junta Directiva</h2>
		<mat-list>
		  <mat-list-item>Presidente: Nombre Apellido</mat-list-item>
		  <mat-list-item>Vicepresidente: Nombre Apellido</mat-list-item>
		  <mat-list-item>Secretario: Nombre Apellido</mat-list-item>
		  <mat-list-item>Tesorero: Nombre Apellido</mat-list-item>
		  <mat-list-item>Vocal: Nombre Apellido</mat-list-item>
		  <mat-list-item>Vocal: Nombre Apellido</mat-list-item>
		</mat-list>
	  </mat-card>
  
	  <mat-card style="margin-bottom: 15px; width: 400px; text-align: center;">
		<h2>Área deportiva</h2>
		<mat-list>
		  <mat-list-item>Director deportivo: Nombre Apellido</mat-list-item>
		  <mat-list-item>Entrenador del primer equipo: Nombre Apellido</mat-list-item>
		  <mat-list-item>Segundo entrenador: Nombre Apellido</mat-list-item>
		  <mat-list-item>Preparador físico: Nombre Apellido</mat-list-item>
		  <mat-list-item>Entrenador de porteros: Nombre Apellido</mat-list-item>
		  <mat-list-item>Médico del primer equipo: Nombre Apellido</mat-list-item>
		  <mat-list-item>Encargado del material: Nombre Apellido</mat-list-item>
		</mat-list>
	  </mat-card>
  
	  <mat-card style="margin-bottom: 15px; width: 400px; text-align: center;">
		<h2>Área social</h2>
		<mat-list>
		  <mat-list-item>Director social: Nombre Apellido</mat-list-item>
		  <mat-list-item>Responsable de comunicación: Nombre Apellido</mat-list-item>
		  <mat-list-item>Responsable de marketing: Nombre Apellido</mat-list-item>
		  <mat-list-item>Responsable de relaciones públicas: Nombre Apellido</mat-list-item>
		  <mat-list-item>Responsable de peñas: Nombre Apellido</mat-list-item>
		  <mat-list-item>Responsable de eventos: Nombre Apellido</mat-list-item>
		</mat-list>
	  </mat-card>
  
	  <mat-card style="margin-bottom: 15px; width: 400px; text-align: center;">
		<h2>Área administrativa</h2>
		<mat-list>
		  <mat-list-item>Gerente: Nombre Apellido</mat-list-item>
		  <mat-list-item>Secretaría técnica: Nombre Apellido</mat-list-item>
		  <mat-list-item>Administrativo: Nombre Apellido</mat-list-item>
		  <mat-list-item>Contable: Nombre Apellido</mat-list-item>
		</mat-list>
	  </mat-card>
  
	</div>
  
  </div>
  