<div class="organigrama-container">
	<head>
	  <title>Organigrama de la Unión Deportiva Pilas</title>
	  <meta charset="utf-8">
	</head>
	<div style="background-color: rgb(233, 233, 233); text-align: center; margin-bottom: 35px">
		<h1 style="text-align: center;">Organigrama de la Unión Deportiva Pilas</h1>
	</div>
	<div id="interior-container" style="display: flex; flex-direction: column; align-items: center;">
	  <mat-card style="margin-bottom: 15px; width: 400px; text-align: center;">
		<h2>Junta Directiva</h2>
		<mat-list>
		  <mat-list-item>Presidente: Manuel Barragán Márquez</mat-list-item>
		  <mat-list-item>Vicepresidente: Diego Monsalves Vázquez</mat-list-item>
		  <mat-list-item>Secretario: Manuel Anguas Quintero</mat-list-item>
		  <mat-list-item>Tesorero: Francisco Hernández Rodríguez</mat-list-item>
		  <mat-list-item>Vocal: José María Gil Herrera</mat-list-item>
		</mat-list>
	  </mat-card>
  
	  <mat-card style="margin-bottom: 15px; width: 400px; text-align: center;">
		<h2>Área deportiva</h2>
		<mat-list>
		  <mat-list-item>Director deportivo: Diego Monsalves Vázquez</mat-list-item>
		  <mat-list-item>Entrenador del primer equipo: José Manuel Fidalgo Gómez</mat-list-item>
		  <mat-list-item>Segundo entrenador: José Manuel Acejo Afanador</mat-list-item>
		  <mat-list-item>Preparador físico: Manuel Anguas Quintero</mat-list-item>
		  <mat-list-item>Entrenador de porteros: José Manuel Acejo Afanador</mat-list-item>
		  <mat-list-item>Médico del primer equipo: Juan Rodríguez Rojas</mat-list-item>
		</mat-list>
	  </mat-card>
  
	  <mat-card style="margin-bottom: 15px; width: 400px; text-align: center;">
		<h2>Área social</h2>
		<mat-list>
		  <mat-list-item>Director social: José María Gil Herrera</mat-list-item>
		  <mat-list-item>Responsable de comunicación: Francisco Hernández Rodríguez</mat-list-item>
		  <mat-list-item>Responsable de marketing: Manuel Barragán Márquez</mat-list-item>
		  <mat-list-item>Responsable de relaciones públicas: David Cuesta Lara</mat-list-item>
		  <mat-list-item>Responsable de peñas: José Antonio Gil Maraver </mat-list-item>
		</mat-list>
	  </mat-card>
  
	  <mat-card style="margin-bottom: 15px; width: 400px; text-align: center;">
		<h2>Área administrativa</h2>
		<mat-list>
		  <mat-list-item>Gerente: Juan Pablo Solís Cabello</mat-list-item>
		  <mat-list-item>Secretaría técnica: José Maria Gil Herrera</mat-list-item>
		  <mat-list-item>Administrativo: David Cuesta Lara</mat-list-item>
		</mat-list>
	  </mat-card>
  
	</div>
  
  </div>
  