
.noticias-container{
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
}


mat-card{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display:flex;
  flex-direction: column;
}

.mat-card:hover {
  background-color: rgba(243, 243, 243, 0.938);
  transition: all .35s ease-in-out;
  
}
.mat-card:not(:hover) {
  transition: all .35s ease-in-out;
  
}

.mat-card:active {
  background-color: rgba(243, 243, 243, 0.938);
}


.mat-card-content{
  flex-grow: 1;
  overflow: auto;
}

.mat-button {
  margin-right: 10px;
  margin-left: 10px;
    
  
}

.mat-custom {
  background-color:  transpagrent;
  color: rgb(107, 107, 107);
  
}

mat-chip {
  padding: 10px 10px !important;
  background-color:  rgb(91, 124, 235) !important;
  color: white !important;
}


mat-button:focus{
  background:rgb(91, 124, 235);
  color: white;
}



mat-button-toggle-group {
  margin-left: 12px;
  margin-right: 12px;
  border: none !important;
 
}



.carouselImg {
  width: 100%;
  height: auto;
}

