
<div class="noticias-container">
    <!-- el fxLayout es el contenedor flex, y los fxFlex, los hijos -->
    <!-- fxLayoutAlign="start strecht" por default -->
    <div fxLayout="row wrap"  fxLayoutGap="50px grid">
        
        <!-- elemento fxFlex que contedrá la noticia de portada 1 -->
        <!-- el fxFlex.sm se puede poner auto tambien para que al reducir coja el 100% o modificar al gusto-->
        <div fxFlex = "60%"  fxFlex.xs="auto" fxFlex.sm="50%" >

            <mat-card class="mat-elevation-z4">
                
                <img mat-card-image src="./../../../assets/images/DUI6_mQWkAASe7B.jpg">
                <mat-card-content>
        
                    <p style="font-size:medium">
                        Esto es una descripcion de noticia test Esto es una descripcion de noticia test
                        Esto es una descripcion de noticia test Esto es una descripcion de noticia test
                    </p>
        
                </mat-card-content>
        
                <mat-card-actions>
                    <button mat-raised-button basic="primary">Compartir</button>
                </mat-card-actions>
                <mat-card-subtitle>dd/MM/YYYY</mat-card-subtitle>
            </mat-card>

        </div>

        <!-- elemento fxFlex que contedrá la noticia de portada 2  -->
        <!-- el fxFlex.sm se puede poner auto tambien para que al reducir coja el 100%  o modificar al gusto-->

        <div fxFlex = "40%"  fxFlex.xs="auto" fxFlex.sm="50%"  >

            <mat-card class="mat-elevation-z4">
                
                <img mat-card-image src="./../../../assets/images/E90cw7-XsAA2-kI.jpg">
                <mat-card-content>
        
                    <p style="font-size:medium">
                        Esto es una descripcion de noticia test Esto es una descripcion de noticia test
                        Esto es una descripcion de noticia test Esto es una descripcion de noticia test

                    </p>
        
                </mat-card-content>
        
                <mat-card-actions>
                    <button mat-raised-button basic="primary">Compartir</button> 
                </mat-card-actions>
                <mat-card-subtitle>dd/MM/YYYY</mat-card-subtitle>
            </mat-card>

        </div>


        <!-- elemento fxFlex que contedrá la barra de busqueda y navegacion por las noticias  -->
        <div fxFlex = "100%"  fxFlex.xs="100%" fxFlex.sm="100%" >

            <mat-toolbar>
                <button mat-button color="custom">Senior</button>
                <button mat-button color="custom">Juveniles</button>
                <button mat-button color="custom">Club</button>
                <button mat-button color="custom">General</button>
                <div>
                    <input type="text"><i class="material-icons">search</i>
                </div>
            </mat-toolbar>

        </div>

        <!-- el ngFor podría iterar por el número de post existentes,   -->
        <div fxFlex = "25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]" >

            <mat-card class="mat-elevation-z4">
    
                <img mat-card-image src="./../../../assets/images/DUI6_mQWkAASe7B.jpg">
                <mat-card-content>
            
                    <p style="font-size:medium">
                        Esto es una descripcion de noticia test Esto es una descripcion de noticia test
                        Esto es una descripcion de noticia test Esto es una descripcion de noticia test
                    </p>
            
                </mat-card-content>
            
                <mat-card-actions>
                    <button mat-raised-button basic="primary">Compartir</button>
                </mat-card-actions>
                <mat-card-subtitle>dd/MM/YYYY</mat-card-subtitle>
            </mat-card>
            
        </div>

        <div fxFlex = "25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2]" >
            <mat-card class="mat-elevation-z4">
        
                <img mat-card-image src="./../../../assets/images/logo.png">
                <mat-card-content>
            
                    <p style="font-size:medium">
                        PRESIDENTE DIMISION
                    </p>
            
                </mat-card-content>
            
                <mat-card-actions>
                    <button mat-raised-button basic="primary">Compartir</button>
                </mat-card-actions>
                <mat-card-subtitle>dd/MM/YYYY</mat-card-subtitle>
            </mat-card>
        </div>

        <div fxFlex = "25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
        
                <img mat-card-image src="./../../../assets/images/2020-Tuscany-Grand-Prix-Thursday-4-scaled.jpg">
                <mat-card-content>
            
                    <p style="font-size:medium">
                        PRESIDENTE DIMISION
                    </p>
            
                </mat-card-content>
            
                <mat-card-actions>
                    <button mat-raised-button basic="primary">Compartir</button>
                </mat-card-actions>
                <mat-card-subtitle>dd/MM/YYYY</mat-card-subtitle>
            </mat-card>
        </div>

        <div fxFlex = "25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
        
                <img mat-card-image src="./../../../assets/images/DUI6_mQWkAASe7B.jpg">
                <mat-card-content>
            
                    <p style="font-size:medium">
                        PRESIDENTE DIMISION
                    </p>
            
                </mat-card-content>
            
                <mat-card-actions>
                    <button mat-raised-button basic="primary">Compartir</button>
                </mat-card-actions>
                <mat-card-subtitle>dd/MM/YYYY</mat-card-subtitle>
            </mat-card>
        </div>




     

    </div>

</div>
