
.noticias-container{
  /*display: flex;*/
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}


mat-card{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display:flex;
  flex-direction: column;
}


.mat-card-content{
  flex-grow: 1;
  overflow: auto;
}

.mat-button {
  margin-right: 10px;
  margin-left: 10px;
    
  
}

.mat-custom {
  background-color:  transpagrent;
  color: rgb(107, 107, 107);
  
}

