<div id="header-container">


    <div id="header-banner">

        <div id = "banner-ppal">
            <img style="width: 120px; height: auto;" id = 'logo' src="assets/images/logo.png" alt="image">
            <h1>U.D. Pilas</h1>
        </div>
        
        <div id = "banner-botones">
            
        </div>
    
    </div> 
    

    <div id="menu-container">

        <button mat-button [matMenuTriggerFor]="clubMenu">Club</button>
        <mat-menu #clubMenu = "matMenu" [overlapTrigger]="false">
            <button mat-menu-item>Historia</button>
            <button mat-menu-item>Organigrama</button>
            <button mat-menu-item>Estadio</button>
        </mat-menu>
        
        <button mat-button>Noticias</button>
        
        <button mat-button [matMenuTriggerFor]="equipoMenu">Equipo</button>
        <mat-menu #equipoMenu = "matMenu">
            <button mat-menu-item>Senior</button>
            <button mat-menu-item>Juveniles</button>
        </mat-menu>
        
        
        <button mat-button>Tienda</button>
        
        <button mat-button [matMenuTriggerFor]="abonadosMenu">Abonados</button>
        
        <mat-menu #abonadosMenu = "matMenu">
            <button mat-menu-item>Menu Item 1</button>
            <button mat-menu-item>Menu Item 2</button>
        </mat-menu>
    
    </div>
        

</div>
