<meta name="referrer" content="no-referrer">
<mat-dialog-content>
  <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="50px grid" > <!-- Si quitamos el fxLayoutAlign tambien queda interesante, probar -->
    <div>
      <img [src]="jugador.imagen ? jugador.imagen.nombre : '../../../../assets/images/avatar-default.jpg'" alt="profile-image"  style="object-fit: cover; width: 200px; height: 200px;">  
    </div>
    <div>
      <h3 mat-dialog-title style="font-weight: bold; text-align: center;">{{jugador.nombre}} {{jugador.apellidos}}</h3>
      <mat-card>
        <mat-card-content>
          <p>Fecha Nacimiento: {{jugador.fecha_nacimiento}}</p>
          <p>Posición: {{jugador.posicion}}</p>
          <p>DNI: {{jugador.dni}}</p>
          <p *ngIf="jugador.reconocimiento_medico">Rec. Médico: {{jugador.reconocimiento_medico}}</p>
          <p *ngIf="!jugador.reconocimiento_medico">Rec. Médico: No especificado</p>
          <p *ngIf="jugador.duracion">Duracion: {{jugador.duracion}}</p>
          <p *ngIf="!jugador.duracion">Duracion: No especificada</p>
          <p *ngIf="jugador.observaciones">Observaciones: {{jugador.observaciones}}</p>
          <p *ngIf="!jugador.observaciones">Observaciones: No existen observaciones</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div style="margin-top: 20px;">
    <p>Histórico de registros corporales asociados al jugador</p>
    <table mat-table [dataSource]="jugador.registros" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="ALTURA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ALTURA (cm) </th>
        <td mat-cell *matCellDef="let element"> {{element.altura}} </td>
      </ng-container>
      <ng-container matColumnDef="PESO">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PESO (kg)</th>
        <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
      </ng-container>
      <ng-container matColumnDef="IMC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> IMC (%) </th>
        <td mat-cell *matCellDef="let element"> {{element.imc}} </td>
      </ng-container>
      <ng-container matColumnDef="MM">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MM (kg) </th>
        <td mat-cell *matCellDef="let element"> {{element.masa_muscular}} </td>
      </ng-container>
      <ng-container matColumnDef="MO">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MO (kg)</th>
        <td mat-cell *matCellDef="let element"> {{element.masa_osea}} </td>
      </ng-container>
      <ng-container matColumnDef="TMB">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TMB </th>
        <td mat-cell *matCellDef="let element"> {{element.tmb}} </td>
      </ng-container>
      <ng-container matColumnDef="AGUA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> AGUA (%) </th>
        <td mat-cell *matCellDef="let element"> {{element.agua}} </td>
      </ng-container>
      <ng-container matColumnDef="FECHA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnasTablaRegistros"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasTablaRegistros;"></tr>
    </table>

  </div>
    
</mat-dialog-content>