<meta name="referrer" content="no-referrer">

<div id="editor-container">
  
  <app-alert></app-alert>
  <ckeditor #myEditor [editor]="Editor" (ready)="onReady($event)" id="editor"  ></ckeditor>

  <form (ngSubmit)="onSubmit(formDirective)" [formGroup]="formEditor" #formDirective="ngForm" autocomplete="off" style='margin-top: 50px;'>


    <mat-form-field>
      <input matInput type="text" formControlName="tituloPub" placeholder="Título de la publicación">

    </mat-form-field>
   
    <div>
        <mat-form-field>
          <div>
              <mat-toolbar>
                <!-- Display files names -->
                <input matInput type="text" formControlName="nombreArchivoImagen" placeholder="Imagen de portada">
                <!-- Browse Button -->
                <button mat-flat-button color="primary">Elegir imagen</button>
              </mat-toolbar>
              <!-- Fetch selected filed on change -->
              <input
                type="file"
                #fileInput
                id="uploadFile"
                (change)="uploadFileEvt($event)"
                name="uploadFile"
                multiple="multiple"
                accept="image/*"
              />
            </div>
        </mat-form-field>
    </div>
      
    <div>
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Etiquetas</mat-label>
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip
            *ngFor="let tag of tags"
            (removed)="remove(tag)">
            {{tag}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Nueva Etiqueta..."
            #tagInput
            [formControl]="tagCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div *ngIf="!esEdicion" style="text-align: center; margin-top: 30px;">
      <mat-slide-toggle *ngIf="!fechaSet" (change)="openDialog()" [checked]="fechaSet" id="toggleProgramar">Programar publicación</mat-slide-toggle>
      <p></p>
      <mat-slide-toggle (change)="cambiaEstado()" id="toggleSetPortada" >Publicación de portada</mat-slide-toggle>
    </div>
    
    
    <p *ngIf="!fechaSet && !esEdicion" style="font-style:italic; margin-top: 75px; text-align: center"> El artículo se publicará de inmediato tras su confirmación</p>
    <p *ngIf="fechaSet" style="font-style:italic; margin-top: 75px; text-align: center"> El artículo se publicará en la fecha programada: {{ fechaSetted | json }} </p>
    <p *ngIf="esEdicion" style="font-style:italic; margin-top: 75px; text-align: center"> Fecha de publicacion original: {{ noticiaSeleccionada.fechaPublicacion | json }} </p>

    <div *ngIf="!fechaSet && !esEdicion" style="text-align: center; margin-top: 65px;">
        <button mat-raised-button color="primary" style="margin-right: 4px;" type="submit">Publicar</button>
    </div> 

    <div *ngIf="fechaSet && !esEdicion" style="text-align: center; margin-top: 65px;">
      <button mat-raised-button color="accent" style="margin-right: 4px;">Programar</button>
      <button mat-raised-button color="warn" style="margin-right: 4px;" (click)="cancelarProgramacion()">Cancelar</button>
    </div>

    <div *ngIf="esEdicion" style="text-align: center; margin-top: 65px;">
      <button mat-raised-button color="primary" style="margin-right: 4px;" type="submit" *ngIf="esEdicion">Actualizar</button>
    </div>
    <div *ngIf="esEdicion" style="text-align: center; margin-top: 40px;">
      <button mat-raised-button routerLink = "/adm-noticias" routerLinkActive = "Active" style="margin-right: 4px;" *ngIf="esEdicion">Volver</button>
    </div>

  </form>
    
    
</div>
   
       
