<div id="header-container">

    <!-- REGISTRO
    <div id = "banner-botones">
        <button mat-raised-button routerLink = "/registro" routerLinkActive = "Active" style="margin-right:8px">Registro</button>
    </div>
    -->

    <div class="row" style="background-color: white;">
        <div class="col-1"></div>
        <div class="col-2 mt-2 mb-2">
            <button mat-button routerLink = "/login" routerLinkActive="active" *ngIf = '!(authService.isLoggedIn$ | async)'><mat-icon>person</mat-icon>Acceder</button>
            <button mat-button *ngIf = '(authService.isLoggedIn$ | async)' (click)="logout()"><mat-icon>power_settings_new</mat-icon> Desconectar</button>            
        </div>
        <div class="col-7"></div>
        <div class="col-2 mt-2 mb-2">
            <a href="https://twitter.com/UDPilas/" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="https://facebook.com/UDPilas/" target="_blank"><i class="ms-3 fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href="https://instagram.com/UDPilas/" target="_blank"><i class="ms-3 fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
    
    <div id = "banner-ppal">
        <a href="/"><img id = 'logo' src="assets/images/logo-PILAS.png" alt="image"></a>
    </div>
    
    <div id="menu-container">

        <button mat-button [matMenuTriggerFor]="clubMenu">CLUB</button>
        <mat-menu #clubMenu = "matMenu" [overlapTrigger]="false">
            <button mat-menu-item routerLink = "/historia" routerLinkActive = "Active">HISTORIA</button>
            <button mat-menu-item routerLink = "/organigrama" routerLinkActive = "Active">ORGANIGRAMA</button>
            <button mat-menu-item routerLink = "/estadio" routerLinkActive = "Active">ESTADIO</button>
        </mat-menu>
        
        <button mat-button routerLink = "/noticias" routerLinkActive = "Active">NOTICIAS</button>
        
        <button mat-button [matMenuTriggerFor]="equipoMenu">EQUIPOS</button>
        <mat-menu #equipoMenu = "matMenu">
          <button mat-menu-item *ngFor="let equipo of equipos" routerLink="/equipo/{{equipo.nombre}}" routerLinkActive="Active">{{equipo.nombre}}</button>
        </mat-menu>
        
        <button mat-button [matMenuTriggerFor]="miembrosMenu" *ngIf = '(authService.isLoggedIn$ | async)'>MIEMBROS</button>
            <mat-menu #miembrosMenu = "matMenu">
                <button mat-menu-item routerLink = "/socios" routerLinkActive = "Active" *ngIf = 'accesoAdministracionSocios'>ADMINISTRACION SOCIOS</button>
                <button mat-menu-item routerLink = "/adm-noticias" routerLinkActive = "Active" *ngIf = 'accesoAdministracionNoticias'>ADMINISTRACION NOTICIAS</button>
                <button mat-menu-item routerLink = "/miembros" routerLinkActive = "Active" *ngIf = 'accesoAdministracionMiembros'>ADMINISTRACION MIEMBROS</button>
                <button mat-menu-item routerLink = "/plantilla" routerLinkActive = "Active" *ngIf = 'accesoAdministracionPlantilla'>ADMINISTRACION PLANTILLA</button>
                <button mat-menu-item routerLink = "/cuerpoTecnico" routerLinkActive = "Active" *ngIf = 'accesoAdministracionCuerpoTecnico'>GESTIÓN CUERPO TÉCNICO</button>
            </mat-menu>
        
    
    </div>
        

</div>

<router-outlet></router-outlet>
      