<div id="header-container">

    <!-- REGISTRO
    <div id = "banner-botones">
        <button mat-raised-button routerLink = "/registro" routerLinkActive = "Active" style="margin-right:8px">Registro</button>
    </div>
    -->

    <div class="row" style="background-color: white;">
        <div class="col-1"></div>
        <div class="col-2 mt-2 mb-2">
            <a routerLink = "/calendario" routerLinkActive="active"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i> CALENDARIO</a>
            <button mat-button routerLink = "/login" routerLinkActive="active" *ngIf = '!(authService.isLoggedIn$ | async)'><mat-icon>person</mat-icon>Acceder</button>            
        </div>
        <div class="col-7"></div>
        <div class="col-2 mt-2 mb-2">
            <a href="https://twitter.com/UDPilas/" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="https://facebook.com/UDPilas/" target="_blank"><i class="ms-3 fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href="https://instagram.com/UDPilas/" target="_blank"><i class="ms-3 fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
    
    <div id = "banner-ppal">
        <a href="/"><img id = 'logo' src="assets/images/logo-PILAS.png" alt="image"></a>
    </div>
    
    <div id="menu-container">

        <button mat-button [matMenuTriggerFor]="clubMenu">CLUB</button>
        <mat-menu #clubMenu = "matMenu" [overlapTrigger]="false">
            <button mat-menu-item routerLink = "/historia" routerLinkActive = "Active">HISTORIA</button>
            <button mat-menu-item>ORGANIGRAMA</button>
            <button mat-menu-item>ESTADIO</button>
        </mat-menu>
        
        <button mat-button routerLink = "/noticias" routerLinkActive = "Active">NOTICIAS</button>
        
        <button mat-button [matMenuTriggerFor]="equipoMenu">EQUIPOS</button>
        <mat-menu #equipoMenu = "matMenu">
            <button mat-menu-item routerLink = "/senior" routerLinkActive = "Active">SENIOR</button>
            <!--
            <button mat-menu-item>JUVENILES</button>
            <button mat-menu-item>CADETES</button>
            <button mat-menu-item>UD PILAS FUTSAL</button>
            <button mat-menu-item>C.D. TOR DEL REY DE PILAS</button>
            -->
        </mat-menu>
        
        <button mat-button routerLink = "/socios" routerLinkActive = "Active">MIEMBROS</button>
        <button mat-button routerLink = "/socios" routerLinkActive = "Active">SOCIOS</button>
        <button mat-button routerLink = "/editor" routerLinkActive = "Active">EDITOR</button>
    
    </div>
        

</div>

<router-outlet></router-outlet>
      