<div id="header-container">

    <div id = "banner-botones">
        <button mat-raised-button routerLink = "/registro" routerLinkActive = "Active" style="margin-right:8px">Registro</button>
    </div>
    
    <div id = "banner-ppal">
        <img id = 'logo' src="assets/images/logo.png" alt="image">
        <h1 id="titulo">U.D. Pilas</h1>
    </div>
    
    <div id="menu-container">

        <button mat-button [matMenuTriggerFor]="clubMenu">Club</button>
        <mat-menu #clubMenu = "matMenu" [overlapTrigger]="false">
            <button mat-menu-item>Historia</button>
            <button mat-menu-item>Organigrama</button>
            <button mat-menu-item>Estadio</button>
        </mat-menu>
        
        <button mat-button routerLink = "/noticias" routerLinkActive = "Active">Noticias</button>
        
        <button mat-button [matMenuTriggerFor]="equipoMenu">Equipo</button>
        <mat-menu #equipoMenu = "matMenu">
            <button mat-menu-item>Senior</button>
            <button mat-menu-item>Juveniles</button>
        </mat-menu>
        
        
        <button mat-button routerLink = "/tienda" routerLinkActive = "Active">Tienda</button>
        
        <button mat-button [matMenuTriggerFor]="abonadosMenu">Abonados</button>
        <mat-menu #abonadosMenu = "matMenu">
            <button mat-menu-item>Menu Item 1</button>
            <button mat-menu-item>Menu Item 2</button>
        </mat-menu>
    
    </div>
        

</div>

<router-outlet></router-outlet>
      