#header-container{
    background-color: #0066cc;
}

#banner-botones{
    text-align: right;
}

#banner-ppal{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: stretch;
}

#menu-container{
    margin-top: 20px;
    text-align: center;
    background-color: white;
}

#titulo{
    align-self: center;
}

#logo{
    width: 280px;
    height: auto
}