<div class="adm-noticias-container">

    <div class="col mt-4 mb-4">
        <div class="row mt-2 mb-2 text-center">
            <h1>NOTICIAS</h1>
        </div>
        <mat-tab-group dynamicHeight>

            <mat-tab label="Gestión de noticias">

                <div class="row mt-4 mb-4 d-flex justify-content-center" style="margin-left:5px; margin-right:5px">

                    <mat-form-field appearance="standard" style="float:left; margin-top:5px; margin-bottom:5px; margin-right:5px;">
                        <mat-label>Búsqueda</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Titulo noticia.." #input>
                    </mat-form-field>
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="tituloNoticia">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                            <td mat-cell *matCellDef="let element"> {{element.tituloNoticia}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fechaPublicacion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de publicación </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaPublicacion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fechaCreacion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="etiquetas">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Etiquetas </th>
                            <td mat-cell *matCellDef="let element"> 
                            <mat-chip-list>
                                <span *ngFor="let etiqueta of element.etiquetas">
                                    <mat-chip>{{etiqueta.nombre}}</mat-chip>
                                </span>
                            </mat-chip-list>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="esPortada">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visibilidad de portada </th>
                            <td mat-cell *matCellDef="let element"> <mat-slide-toggle [(ngModel)]="element.esPortada"></mat-slide-toggle> </td>
                            
                        </ng-container>

                        <!--<ng-container matColumnDef="imageUrl">
                            <th mat-header-cell *matHeaderCellDef> Imagen de portada </th>
                            <td mat-cell *matCellDef="let element"> <img style=" width: 10%;
                                height: auto;" [src]="element.imagen.nombre" /> </td>
                          </ng-container>-->

                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-mini-fab color="secondary" aria-label="Example icon button with a delete icon" style="margin-top:5px; margin-bottom:5px; margin-left:5px; margin-right:5px" [routerLink]="['/editor', element.idnoticias]" >
                                <mat-icon>edit</mat-icon>
                                </button> 
                                <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" style="margin-top:5px; margin-bottom:5px; margin-left:5px; margin-right:5px" >
                                <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator> 

                </div>
                
            </mat-tab>

            <mat-tab label="Editor">
                <app-editor></app-editor>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
