#homeContainer {
  /*margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;*/
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1200px;
  padding: 0 10px;
  box-sizing: border-box;
  
}

.mat-card:hover {
  background-color: rgba(243, 243, 243, 0.938);
  transition: all .35s ease-in-out;
  cursor: pointer;
}
.mat-card:not(:hover) {
  transition: all .35s ease-in-out;
  
}

.mat-card:active {
  background-color: rgba(243, 243, 243, 0.938);
}

