<div class="col mt-4 mb-4">
    <!-- IDEAS NOTICIAS MÁS NUEVAS
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"></div>
    </div>
    <hr>
    -->
    <div class="row mt-2 mb-2">
        <div class="col-3"></div>
        <div class="col-3 text-end">
            <h1>ÚLTIMO PARTIDO</h1>
        </div>
        <div class="col-3 text-start">
            <h1>PRÓXIMO PARTIDO</h1>
        </div>
        <div class="col-3"></div>
    </div>
    <hr>
    <div class="row mt-2 mb-2">
        <div class="col-3"></div>
        <div class="col-3 text-center">
            <h1>CLASIFICACIÓN</h1>
        </div>
        <div class="col-3 text-center">
            <h1>MÁXIMOS GOLEADORES</h1>
        </div>
        <div class="col-3"></div>
    </div>
</div>