<div class="historia-container">

	<head>
		<title>Historia de la Unión Deportiva Pilas</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1 style="text-align: center; margin-bottom: 40px;">Historia de la Unión Deportiva Pilas</h1>
	
		<p>El fútbol es un deporte con honda raigambre en nuestro pueblo. Así, en 1943 ya tenemos constancia de la aparición del llamado “Club Deportivo Pilas”, que siguió existiendo hasta 1948. Sólo dos años más tarde, en 1950 nace el Pilas Club de Fútbol, aunque su andadura se limitó a una sola temporada. El precedente más cercano lo tenemos en el “Pilas Balompié”, que tuvo vida en dos etapas (1952-1958 y 1965-1968)
		</p>
		<div style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
			<img src="../../../../assets/images/historia/01.jpg">
		</div>

		<p>La U.D. PILAS nace, con esta denominación, en 1971.</p>

		<div style="text-align:center;margin-top: 30px; margin-bottom: 30px;">
			<img src="../../../../assets/images/historia/02.jpg">
			<img src="../../../../assets/images/historia/03.jpg">
		</div>

		<div style="text-align:center; margin-top: 30px; margin-bottom: 30px;">
			<img src="../../../../assets/images/historia/04.jpg">
			<img src="../../../../assets/images/historia/05.jpg">
		</div>
		
		<p>Un grupo de aficionados decide que en nuestro pueblo se vuelva a disfrutar del fútbol y, encabezados por Juan Delgado, ponen en marcha este proyecto que ahora cumple 40 años. Su primer entrenador fue Juan “el de la Luz”, a quien sucedió en la siguiente temporada Mario Cuesta. Con él, llega el primer título para nuestro equipo, al proclamarse campeón de 2ª Regional en la temporada 1974-1975.
		</p>
	
		<p>El año siguiente, bajo la dirección técnica de Paco Naranjo, el equipo vuelve a repetir éxito, coronándose de nuevo como campeón de su grupo.
		</p>
	
		<p>Durante la temporada 1976-1977 el tándem formado por Juan Delgado y Paco Naranjo abandona el proyecto, siendo sustituidos por Pepe Monsalves en la presidencia y Ramón Moreno en el banquillo. El nuevo presidente se mantuvo hasta el año 1980 y contó con José Enrique Díaz, Manuel Suárez Acevedo y Manuel Monosalva como entrenadores.</p>

		<p>Ese mismo año comienza la etapa de Luis Cuevas como presidente de la U.D. Pilas, que se extendió hasta la temporada 1982-1983. Sus entrenadores fueron Manuel Suárez Acevedo (80-81), Paco Naranjo (81-82) y Servando López, Joaquín Verdejo y Antonio Muñoz en la 82-83.</p>


		<p>Tras la renuncia de Luis Cuevas, se hace cargo del club Manuel Leonardo Ventura, quien, de la mano del técnico de Albaida Antonio Muñoz iba a llevar al club a sus más altas cotas deportivas. Así, en la temporada 1983-1984 se proclamó campeón de 1ª Regional. El año siguiente volvió a coronarse como campeón, en este caso de Regional Preferente (en durísima y recordada riña con el Bollullos C.F.), consiguiendo el ascenso a 3ª División. Para el debut en esta categoría (1985-1986), Manuel Leonardo dio su confianza a un nuevo técnico, Paco López Servio, quien consiguió ni más ni menos que la clasificación para jugar la Copa de S.M. el Rey al año siguiente, gracias al 7º puesto conseguido.
		</p>

		<p>La temporada 1986-1987, de nuevo con Paco López en el banquillo, comenzó con el partido tal vez más recordado de la historia del fútbol pileño: aquella inolvidable eliminatoria de Copa del Rey frente al Cádiz C. F. de Manolo Cardo, y que hubo de dirimirse con los lanzamientos desde el punto de penalti, tras 120 minutos de juego sin que se moviera el marcador y con la mejor entrada que ha conocido el estadio Los Ventolines en su historia.</p>

		<p>Manuel Leonardo no terminó la temporada, y fue sustituido en el cargo por Pedro Aguilar.</p>

		<p>En la temporada 1987-1988 vuelve a la presidencia el fundador del club, Juan Delgado, quien, con Paco Telechíacomo técnico, consiguió mantener la categoría. A partir de este momento, los problemas económicos derivados de la militancia en una categoría tan exigente se hacen notar y en el año siguiente pasan por el club dos presidentes(Manuel Cabello y Juan Báñez) y tres técnicos (José Antonio Viera, Paco Telechía y Antonio Muñoz), produciéndose el descenso de categoría.</p>

		<p>La temporada 1989-1990 la comenzaron Juan Báñez en la presidencia y Antonio Muñoz en el banquillo. Pero a poco de comenzar, la presistencia de los problemas económicos provocó la marcha de la práctica totalidad de la plantilla, con el consiguiente abandono de ambos. Esta situación de emergencia fue solventada gracias a la aparición deFrancisco Rodríguez Espinar y de Domingo Márquez Montero, a los que hay que unir el grupo de futbolistas pileños, la mayoría de los cuales estaba jugando al futbito y que acudieron a la llamada de la directiva y del entrenador, para evitar la desaparición del club. El equipo, a pesar de todo, luchó con dignidad, aunque terminó descendiendo a 1ª Provincial, ya de la mano de Ramón Moreno, que había sustituido a Domingo Márquez.</p>

		<p>En 1990 se hace cargo del equipo Ángel Márquez, quien cuenta con Ramón González Tejera como entrenador. Se produce un nuevo descenso, si bien se ponen las bases de la recuperación futura con la llegada de una nueva hornada de futbolistas de la localidad, que iba a dar muchas mañanas de gloria a la afición en Los Ventolines.</p>

		<p>En 1991 reaparece José Monsalves quien consigue proclamarse campeón de 2ª Provincial, con otro pileño en el banquillo: Jesús Gómez Cabello. Ambos repetirían la temporada siguiente, en 1ª Provincial.</p>

		<p>En 1993, todavía con José Monsalves en la presidencia, llega al banquillo Francisco Cuesta, “Curro”, quien iba a permanecer en el cargo durante 5 temporadas, siendo el entrenador que mantiene el récord de permanencia al frente de la U.D. Pilas.</p>

		<p>Desde 1994 hasta 1998 le acompañó en el proyecto Francisco Barragán, consiguiendo el club un nuevo ascenso, a Regional Preferente, en la temporada 1994-1995.</p>

		<p>A Francisco Barragán lo sustituye Antonio Márquez, quien empieza la temporada 1998-1999 con José Cataláncomo técnico, aunque su paso fue fugaz, siendo sustituido por Paco Naranjo, quien regresaba así al banquillo pileño 17 años después.</p>

		<p>Los dos años siguientes, Antonio Márquez confió en Juanma Corbacho para el cargo de entrenador.
		</p>

		<p>En la temporada 2001-2002, el nuevo presidente, Pedro Márquez volvió a recurrir a Curro, quien estuvo al frente del equipo esa temporada y parte de la siguiente, ya que fue sustituido por Mariano Pulido.</p>

		<p>La temporada 2003-2004 iba a resultar muy movida, ya que Pedro Márquez se marchó, volviendo a la presidencia Manuel Leonardo Ventura, mientras por el banquillo pasaban “Selu”, Sixto Bernal y el dúo Isra-Lili. Fue el año en que se produjo el corte, según el cual los ocho primeros clasificados pasarían a formar parte de una nueva categoría, la Primera Andaluza. La U.D. Pilas se quedó con la miel en los labios, por lo que se tuvo que conformar con repetir en la Regional Preferente.</p>

		<p>En la temporada 2004-2005 decide dar el paso al frente Juan Anguas Valladares, nuestro actual presidente, y el que más años ha permanecido en el cargo en estos 40 años de historia. Con Antonio Noria en el banquillo consigue un gran éxito, al quedar subcampeón de Regional Prefente y conseguir el ascenso a Primera Andaluza.
			En esta categoría, el equipo militó 4 temporadas, durante las cuales pasaron por el banquillo, además del ya citado Antonio Noria, Julián Roales, José Mª Sutil, Mariano Suárez y José Antonio Rúa.</p>

		<p>En la temporada 2008-2009, con Rúa al mando del equipo, se produjo el descenso a Regional Preferente. El año siguiente (2009-2010) comenzó con José Antonio Rúa en el banquillo, quien fue sustituido por Juan Antonio Márquez. El desenlace de esta temporada volvió a ser amargo, con un nuevo descenso, que situó a la U.D. Pilas en el Grupo I de la Primera Provincial sevillana.</p>

		<p>La campaña 10/11 comenzó con la dirección técnica de Juan Antonio Márquez, pero los malos resultados motivaron su sustitución tras la jornada 6ª por Sixto Bernal, quien en la siguiente temporada (11/12), consiguió clasificar al equipo en la quinta plaza, manteniendo opciones de ascenso hasta la última jornada de liga.
			En la temporada 12/13 estuvieron en el banquillo pileño el técnico José Manuel Copado, acompañado de su ayudante "Champi". Se hizo un gran trabajo y el equipo terminó 3º en la tabla, quedándose muy cerca del objetivo del ascenso.
			Tras la misma, dimitió el presidente Juan Anguas y se formó una Junta Gestora, que se encargó del funcionamiento del club. Este órgano gestor confió la dirección técnica a José Mari Moreno y permitió que el equipo pudiera comenzar la temporada con normalidad. Una vez hecha esta labor, la citada Junta Gestora se disolvió a finales de noviembre de 2013, dando paso a una nueva Junta Directiva, encabezada por José Luis Anguas Quintero, que se convertía así en el 14º presidente de la historia de la UD Pilas.</p>

		<p>La temporada concluyó con un gran éxito, ya que el equipo logró, por fin, el ansiado ascenso a Regional Preferente. En la siguiente campaña, se hizo cargo del banquillo José Julio Monsalves y de nuevo el éxito coronó un gran trabajo, con el ascenso a la Primera Andaluza, en un final de temporada inolvidable.

			Tras la reestructuración vivida en el fútbol andaluz, la UD Pilas quedó en la temporada 16/17 encuadrada en el grupo sevillano de la Primera Andaluza. La temporada terminó mal pues el equipo, después de padecer un sinfín de adversidades, acabó sufriendo el descenso a la Segunda Andaluza, ya de la mano de José Manuel Fidalgo, sustituto de José Julio Monsalves.</p>

		<p>Una vez finalizada la temporada, tuvo lugar la Asamblea de Socios, de la que resultó elegido nuevo presidente de la UD Pilas D. José Cascajo Hernández, quien asumirá la responsabilidad de regentar la nave pileña en los próximos años.</p>

		<p>Han sido 45 años de duro trabajo. La “Huerta la Lilla”, el campo de los Eucaliptos, la Cámara, el Polideportivo y Los Ventolines han sido los lugares donde se ha escenificado el esfuerzo de tanta gente enamorada de sus colores.</p>

		<p>Ha habido momentos gloriosos: aquel gol de vaselina del aznalcaceño Eustaquio al Marchena, que suponía el ascenso en 1975, el empate con el Olont, obra de Sastre, que nos daba el ascenso a 3ª División, las victorias frente al Bollullos C.F., la mágica noche del 17 de septiembre de 1986 en el partido de copa ante el Cádiz, la goleada 11-0 al Rute C.F., una calurosa mañana en San Jerónimo, donde se conseguía subir de nuevo a Preferente, el ascenso a 1ª Andaluza, con aquella U.D. Pilas tan internacional…
			También se han atravesado momentos muy duros, y no tenemos que irnos muy lejos para encontrar los más recientes…
			Lo que no han faltado, desde luego, han sido personas que con su sacrificio y abnegada entrega han hecho posible que este sueño se haya mantenido vivo. Muchas ya no están con nosotros, pero están presentes en nuestro recuerdo.</p>

		<p>Para todos los que alguna vez sintieron nuestro latido: a los 13 presidentes y sus respectivas juntas directivas, a los 33 entrenadores, al cerca de millar de jugadores que vistieron nuestra camiseta y a sus familias, a los aficionados (nuestro especial recuerdo para las peñas "La Portá",  "El Paso" y la actual "Frente al Usillo"), a las distintas corporaciones municipales, a los medios de comunicación…) desde aquí, sólo nos queda una palabra:¡¡GRACIAS!!</p>

	</body>

</div>

