/* ESTE ESTILO SE PUEDE MODIFICAR PARA VARIAR LAS PROPORCIONES DE LA VISTA DE LA NOTICIA*/
.noticia-view-container{
    /*display: flex;*/
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
  }
  

  .icons-box{
    margin-left: 8px;
    display: flex;
    gap: 10px;
  }


  #mas-noticias-btn{
    width: 100%;
    display: block;
    background-color:rgb(173, 173, 173);
    color: rgb(49, 49, 49);
    margin-top: 30px;
    margin-bottom: 5px;
  }

  #min-image{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 65%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 65%;
  }


  
  #imagen-principal{
    /*object-fit: cover; /*this makes the image in src fit to the size specified below*/
    /*width: 60%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    /*height: 60%;*/
  }
  
