
  <mat-tab-group animationDuration="0ms"mat-align-tabs="center" style="margin-bottom: 400px;">
    <mat-tab label="INICIA SESIÓN">
      <div style="display: flex; justify-content: center; margin-top: 40px; margin-bottom: 40px;">
        <app-alert></app-alert>
      </div>
      <form (ngSubmit)="submitFormLogin()" [formGroup]="form" autocomplete="off" style="margin-top: 40px; margin-bottom: 40px;">
        <div style="display: flex; justify-content: center">
          <mat-card class="form-container">
            <mat-card-title style="text-align: center;">Acceder</mat-card-title>   
            <!-- Correo -->
            <div>
              <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email" />
              </mat-form-field>
            </div>
            <!-- /Correo --> 
            <!-- Password -->
            <div>
              <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="Ex. s3c3tP@ss" formControlName="password" />
              </mat-form-field>
            </div>
            <!-- /Password -->
            <div style="text-align: center;">
              <button type="submit" mat-raised-button color="primary">Entrar</button>
            </div>
          </mat-card>
        </div>
      </form>
      
    </mat-tab>
  
   
    
  </mat-tab-group>
  


