.adm-plantilla-container{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1800px;
    padding: 0 10px;
    box-sizing: border-box;
    
  }


  .adm-plantilla-container mat-form-field  {
    margin-left: 8px;
    margin-right: 8px;
  }

  .custom-card-width {
    width: 50%;
    margin: 0 auto;
  }

  #uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
 }

 .mat-table tr:hover {
  cursor: pointer;
}

