<div class="adm-plantilla-container">

    <div class="col mt-4 mb-4">
        <div class="row mt-2 mb-2 text-center">
            <h1>PLANTILLA</h1>
        </div>
        <mat-tab-group dynamicHeight>

            <mat-tab label="Senior">   
            </mat-tab>

            <mat-tab label="Juveniles">
                
            </mat-tab>

            <mat-tab label="Cadetes">
                
            </mat-tab>

            <mat-tab label="ETC">
                
            </mat-tab>

            <mat-tab label="Registrar nuevo jugador">
                
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
