<div class="estadio-container">

	<head>
		<title>Estadio Municipal Manuel Leonardo</title>
		<meta charset="utf-8">
	</head>
    <body>
        <div style="background-color: rgb(233, 233, 233);">
            <h1 style="text-align: center; margin-bottom: 40px;">Estadio Municipal Manuel Leonardo</h1>
         </div>
        <div style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
			<img src="../../../../assets/images/estadio/es1.jpg">
		</div>

        <p>El estadio municipal “Manuel Leonardo Ventura”, antes "Los Ventolines", es desde hace 25 años, el recinto deportivo que acoge los sueños, las alegrías y las decepciones de la U.D. Pilas.</p>
        <p>Situado a la salida del pueblo, en la carretera de Villamanriqu, se trata de una instalación propiedad del Ayuntamiento de Pilas, que tiene cedida al club blanquiazul.</p>
        <p>Tras una andadura de 14 años, en los que la U.D. Pilas disputó sus partidos en campos como el de la “Huerta la Lilla”, los Eucaliptos, la Cámara y el Polideportivo Municipal, por fin el 20 de octubre de 1985 se inauguraba el nuevo estadio, en la primera temporada de la U.D. Pilas en la Tercera División, en un partido contra el Puerto Real, que terminaron ganando los pileños por 2-0.</p>
        <p>Era una vieja aspiración que se veía así satisfecha, liderada por el entonces presidente, Manuel Leonardo, quien recibió la respuesta entusiasmada del pueblo de Pilas, en forma de donaciones económicas y de materiales de construcción, recogidas en los programas de Radio Pilas, que presentaba y dirigía Antonio Jesús Jurado.</p>
        <p>Por los vestuarios de nuestro estadio han pasado numerosos equipos de Andalucía, e incluso alguno extranjero, como es el caso del Inter de Milán, que lo eligió como campo de entrenamiento con motivo de un desplazamiento a Sevilla.</p>
        <p> Sus gradas vivieron su momento de mayor esplendor la noche del 17 de septiembre de 1986, con un llenazo espectacular para presenciar una eliminatoria de Copa del Rey, que enfrentó a la U.D. Pilas con el Cádiz C.F. y que se dirimió a favor del conjunto gaditano en los lanzamientos desde el punto de penalti.</p>
        <p>Desde su inauguración, nuestro estadio ha sido alabado por todos los equipos y aficionados que lo han visitado, gracias a su aspecto coqueto y al habitual buen estado de su terreno de juego, lo que ha permitido que en numerosas ocasiones nos visiten en partidos amistosos equipos profesionales, como el Recreativo de Huelva, el Real Betis Balompié y el Sevilla F.C.</p>
        <p>Tras la trágica muerte de Manuel Leonardo Ventura, ocurrida el 5 de julio de 2010, justo cuando había decidido volver a formar parte de la directiva de la U.D. Pilas, nuestro club solicitó inmediatamente al Ayuntamiento de Pilas el cambio de nombre del estadio, para dedicarlo a su memoria. La petición fue aceptada por unanimidad en Pleno celebrado el 23 de septiembre de 2010. La colocación del nuevo rótulo tuvo lugar el 21 de julio de 2011, con motivo del partido-homenaje que disputaron la U.D. Pilas y el Sevilla F.C.</p>
        <p>En la temporada 2015/2016 el estadio Manuel Leonardo Ventura acogió dos partidos de la Uefa Youth League disputados por el Sevilla FC frente al Manchester City y Juventus de Turín.</p>
        <p>Pero los años no pasan en balde, y este recinto necesita un cuidado permanente y una importante remodelación, para seguir siendo el magnífico estadio que siempre ha sido. Ahora es un buen momento de rememorar aquella ilusión colectiva con que se acometió su construcción y arrimar todos el hombro para conseguir que siga siendo el orgullo del deporte en Pilas.
        </p>
        <div style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
			<img src="../../../../assets/images/estadio/es2.JPG">
		</div>


    </body>

	<br>
</div>



