<div class="container">
    <div style="background-color: rgb(233, 233, 233); text-align: center;">
        <h2>PROMOCIONES</h2>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="45px">
        <h3>Síguenos en redes sociales para estar atent@ a las últimas novedades y promociones relacionadas con el club</h3>
        <div>
            <a href="https://twitter.com/UDPilas/" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="https://facebook.com/UDPilas/" target="_blank"><i class="ms-3 fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href="https://instagram.com/UDPilas/" target="_blank"><i class="ms-3 fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
        <img src="../../../../assets/images/estadio/es1.jpg">
    </div>   
</div>
