<div class="master-container">

    <mat-grid-list  cols = "4" rowHeight="1:1">

        <mat-grid-tile [colspan] = "1" [rowspan] = 1 >
           POST
        </mat-grid-tile>
        
        <mat-grid-tile [colspan] = "1" [rowspan] = 1>
            POST
        </mat-grid-tile>
        <mat-grid-tile [colspan] = "1" [rowspan] = 1>
            POST
        </mat-grid-tile>
        <mat-grid-tile [colspan] = "1" [rowspan] = 1>
            POST
        </mat-grid-tile>
        <mat-grid-tile [colspan] = "1" [rowspan] = 1 >
            POST
         </mat-grid-tile>
         
         <mat-grid-tile [colspan] = "1" [rowspan] = 1>
             POST
         </mat-grid-tile>
         <mat-grid-tile [colspan] = "1" [rowspan] = 1>
             POST
         </mat-grid-tile>
         <mat-grid-tile [colspan] = "1" [rowspan] = 1>
             POST
         </mat-grid-tile>

    </mat-grid-list>
</div>
